@charset "UTF-8";
/* line 2, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* line 7, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
body {
  font-family: 'B612', sans-serif;
}

/* line 10, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
html {
  scroll-behavior: smooth;
}

/* line 13, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
h1 {
  font-size: 3em;
}

/* line 16, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.bienvenidos {
  background-image: url(/img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
  height: 96vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

/* line 27, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.textoBienvenidos {
  height: 475px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 35, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.contenedor {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0px 0 80px 0;
  padding: 80px 0;
}

/* line 43, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.wave-contenedor {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0px 0 80px 0;
  justify-content: center;
}

/* line 51, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.titulo {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  text-align: center;
}

/* line 58, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.titulo.centro {
  text-align: center;
}

/* line 61, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.sitio {
  display: flex;
  justify-content: space-between;
}

/* line 64, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.sitio img {
  width: 48%;
  padding-top: 30px;
}

/* line 68, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.sitio .textoContenedorPrincipal {
  width: 100%;
  margin-top: 50px;
}

/* line 73, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.parrafo {
  text-align: justify;
  margin-bottom: 20px;
}

/* line 77, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menuBoton {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(90deg, #0f4c80 0%, #0b385e 36%);
  padding: 12px 30px;
  border-radius: 8px;
  color: #fff;
  position: relative;
  left: 35%;
  right: 65%;
}

/* line 88, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.redes {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 30vh;
}

/* line 94, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* line 100, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

/* line 112, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* line 114, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler:checked + .hamburger > div:before {
  top: 0;
  transform: rotate(90deg);
}

/* line 118, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* line 128, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* line 135, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler:checked ~ .menu {
  visibility: visible;
}

/* line 137, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler:checked ~ .menu > div {
  transform: translateX(-50%) translateY(-50%);
}

/* line 139, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.toggler:checked ~ .menu > div > div {
  opacity: 1;
}

/* line 147, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.hamburger {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #0f4c82;
}

/* line 159, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.hamburger > div {
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  transition: .4s;
}

/* line 166, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.hamburger > div:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  top: -10px;
  left: 0;
  transition: .4s;
}

/* line 177, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.hamburger > div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  top: 10px;
  left: 0;
  transition: .4s;
}

/* line 190, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: .6s;
}

/* line 198, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menu > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-150%) translateY(-50%);
  width: 1600px;
  height: 1600px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: .6s;
}

/* line 212, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: .6s;
}

/* line 218, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menu > div > div > ul > li {
  list-style: none;
}

/* line 220, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menu > div > div > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  text-transform: uppercase;
  margin: .5rem;
  transition: .3s;
  font-size: 1.2rem;
  display: inline-block;
}

/* line 229, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.menu > div > div > ul > li > a:hover {
  color: #0f4c82;
}

/* line 238, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.ubicacion {
  background-color: #0f4c82;
  height: 100vh;
  width: 100%;
}

/* line 243, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.linkImagen {
  background-image: url(/img/fotoGaleria.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

/* line 249, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.botonImagen {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 12px 15px;
  border-radius: 8px;
  color: #fff;
}

/* line 257, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fondoRosa {
  background-color: white;
}

/* line 260, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fotoBlu {
  height: 80vh;
}

/* line 263, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.foto {
  background-size: cover;
}

/* line 266, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.navMenu {
  display: flex;
  height: 20vh;
  justify-content: space-evenly;
  width: 100%;
}

/* line 272, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.nav {
  list-style-type: none;
}

/* line 274, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.nav:hover {
  border-bottom: #0f4c82;
  height: 4px;
}

/* line 279, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.mapa {
  background-color: #0f4c82;
  width: 100%;
  height: 100vh;
}

/* line 284, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
iframe {
  margin-left: 10%;
  margin-bottom: 0%;
  margin-top: 5%;
}

/* line 289, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.contact-section {
  background-image: url(/svg/Confetti-Doodles.svg);
  padding: 40px 0;
  height: 110vh;
  width: 100%;
  background-color: #0f4c82;
}

/* line 296, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.h1 {
  text-align: center;
  color: white;
}

/* line 300, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.border {
  width: 100px;
  height: 10px;
  background: white;
  margin: 40px auto;
}

/* line 306, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

/* line 312, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #34495e;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: 0.5s;
}

/* line 323, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

/* line 327, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
textarea.contact-form-text {
  resize: none;
  height: 120px;
}

/* line 331, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

/* line 340, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.contact-form-btn:hover {
  background: #2980b9;
}

/* line 344, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fondoNosotros {
  background-image: url(/img/fotoNosotros.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background: #0f4c80;
  width: 100%;
  height: 70vh;
}

/* line 354, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fondoNosotros2 {
  background-color: #0f4c80;
  height: 100vh;
  width: 100%;
}

/* line 358, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fondoNosotros2 h1 {
  text-align: center;
  color: white;
}

/* line 362, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fondoNosotros2 p {
  text-align: center;
  color: white;
}

/* line 367, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.seccionGaleria {
  width: 100%;
  padding: 60px 0;
  background: #0f4c80;
}

/* line 371, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.seccionGaleria h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

/* line 376, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.seccionGaleria .galeria {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

/* line 381, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.seccionGaleria .imagen {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

/* line 385, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.seccionGaleria .imagen img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

/* line 392, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.ancho {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* line 398, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fondoGaleria {
  background-color: #0f4c80;
}

/* line 401, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.fotoNosotros {
  position: relative;
  width: 60vw;
}

/* line 405, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.textoNosotros {
  text-align: center;
  color: white;
  padding-top: 50px;
}

/* line 411, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.bodyNosotros h2 {
  font-weight: 500;
  padding-bottom: 3vh;
  padding-top: 2vh;
  line-height: 1.6;
}

/* line 417, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
.bodyNosotros h3 {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  /* line 423, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .sitio {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  /* line 429, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fotoMenu {
    width: 100%;
    background-size: cover;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  /* line 436, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fotoMenu {
    width: 70%;
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
  }
  /* line 443, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fotoNosotros {
    width: 80vw;
    left: 10vw;
    right: 10vw;
    top: 0vh;
  }
  /* line 449, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fondoNosotros {
    height: 70vh;
  }
  /* line 452, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .bodyNosotros {
    position: relative;
    width: 80vw;
    left: 10vw;
    right: 10vw;
  }
}

@media screen and (max-width: 960px) {
  /* line 461, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .seccionGaleria .imagen {
    flex: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  /* line 468, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .seccionGaleria .imagen {
    flex: 50%;
  }
}

@media screen and (max-width: 480px) {
  /* line 475, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .seccionGaleria .imagen {
    flex: 100%;
  }
}

@media only screen and (max-width: 600px) {
  /* line 481, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fotoNosotros {
    width: 90vw;
    left: 5vw;
    right: 5vw;
  }
  /* line 486, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fondoNosotros {
    height: 60vh;
  }
  /* line 489, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .bodyNosotros {
    position: relative;
    width: 90vw;
    left: 5vw;
    right: 5vw;
  }
}

@media only screen and (min-width: 600px) {
  /* line 497, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fotoNosotros {
    width: 90vw;
    left: 5vw;
    right: 5vw;
    top: 3vh;
  }
  /* line 503, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fondoNosotros {
    height: 60vh;
  }
  /* line 506, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .bodyNosotros {
    position: relative;
    width: 90vw;
    left: 5vw;
    right: 5vw;
  }
}

@media only screen and (min-width: 992px) {
  /* line 514, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fotoNosotros {
    width: 70vw;
    left: 15vw;
    right: 15vw;
    top: 0vh;
  }
  /* line 520, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fondoNosotros {
    height: 70vh;
  }
  /* line 523, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .bodyNosotros {
    position: relative;
    width: 70vw;
    left: 15vw;
    right: 15vw;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 531, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .fotoNosotros {
    width: 60vw;
    left: 20vw;
    right: 20vw;
    top: 0vh;
  }
  /* line 537, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
  .bodyNosotros {
    position: relative;
    width: 60vw;
    left: 20vw;
    right: 20vw;
  }
}

/* line 544, ../../Documents/Diseño web VISUAL STUDIO/Proyecto-Final-Lorenzo-Durante/scss/styles.scss */
footer {
  background-color: #333333;
  height: 8vh;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 3vh;
}

/*# sourceMappingURL=styles.css.map */